.container {
  width: 100%;
}

.content {
  display: grid;
  gap: 2rem;
}

.formTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contentCopy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconCopy {
  width: 2.2rem;
  border: 1px solid #7a7a7a;
  padding: 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: .3s;
  box-shadow: 0px 0px 9px 2px rgba(145,145,145,0.15);
}

.iconDelete{
  width: 2.2rem;
  border: 1px solid rgb(232, 52, 52);
  padding: 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: .3s;
  color: rgb(232, 52, 52);
  box-shadow: 0px 0px 9px 2px rgba(145,145,145,0.15);
}

.iconDelete:hover {
  background-color: rgb(255, 217, 217);
  transform: scale(1.1);
}

.flex {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.iconCopy:hover {
  background-color: #e8e8e8;
  border-color: #000;
  color: #000;
  transform: scale(1.1);
}

.featureContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: fit-content;
}

.flexColum {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.label {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.input {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid rgb(152, 152, 152);
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  background-color: none;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: firebrick;
}

@media (max-width: 840px) {
  .content {
    flex-direction: column;
    gap: 0rem;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
