.container {
  width: 100%;
}

.content {
  display: grid;
  gap: 2rem;
}

.formTitle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.featureContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: fit-content;
}

.flexColum {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.label {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.input {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid rgb(152, 152, 152);
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  background-color: none;
}

.actions{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  color: firebrick;
}

@media (max-width: 840px) {
  .content {
    flex-direction: column;
    gap: 0rem;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .content {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
