.textareaWrapper {
  margin-bottom: 1rem;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #333;
}

.appTextarea {
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    resize: none;
}

.appTextarea:focus{
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0 0.2rem rgba(0,123,255,0.25);
}

.appTextarea::placeholder {
  color:#6c757d;
  opacity: 1;
}

.appTextarea:disabled {
  background-color: #e9ecef;
  opacity: 1;
  cursor: not-allowed;
}

.errorInput {
  border-color: #dc3545
}

.errorInput:focus {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.errorMessage {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}
