.customSelectWrapper {
  
}

.customSelect {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--text-color);
  background-color: transparent;
  border: 0px solid var(--tertiary-color);
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  background-color: var(--secondary-color);
}

.customSelect:focus {
  outline: 0;
  box-shadow: 0;
}

.customSelect option {
  background-color: var(--background-color);
  color: var(--text-color);
}
