.customSelect {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: transparent;
  border: 1px solid rgb(152, 152, 152);
  cursor: pointer;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  background-color: none;
}

.label {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.customSelect:focus {
  outline: 0;
  box-shadow: 0;
}

.customSelect option {
  background-color: none;
  color: var(--text-color);
}
