.footer {
  width: 100%;
  height: auto;
  border-top: 1px solid gray;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.descriptionPlataform {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.sectionTools {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.sectionTools nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sectionTools div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sectionTools a {
  width: fit-content;
  text-decoration: none;
  color: var(--text-color);
}

.sectionTools a:hover {
  text-decoration: underline;
}

.sectionLogo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.sectionLogo p {
  text-wrap: pretty;
  max-width: 360px;
}

.logo {
  width: 6rem;
  height: max-content;
}

.contentSocial{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.ownerSocial a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
}

.ownerSocial a:hover {
  text-decoration: underline;
}

.socialWrap {
  display: flex;
  gap: 1rem;
}

.socialWrap a {
  width: 50px;
  height: 50px;
  border: 1px solid var(--secondary-color);
  border-radius: 0.3rem;
  background-color: var(--primary-color);
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: top;
  transition: all 0.3s ease-in-out;
}

.socialWrap a:hover {
  transform: scale(1.1);
}

.socialWrap a i > svg {
  fill: var(--secondary-color);
}

.socialWrap > a > i > svg {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media (max-width: 400px) {
  .descriptionPlataform {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 401px) and (max-width: 700px) {
  .descriptionPlataform {
    grid-template-columns: repeat(2, 1fr);
  }
}
