.footer {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.footer hr {
  width: 100%;
  margin-bottom: 2rem;
}

.descriptionPlataform {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.sectionTools {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.sectionTools nav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sectionTools div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.sectionTools a {
  width: fit-content;
  text-decoration: none;
  color: var(--text-color);
}

.sectionTools a:hover {
  text-decoration: underline;
}

.sectionLogo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sectionLogo p {
  text-wrap: pretty;
  max-width: 360px;
}

.logo {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  text-align: left;
}

.logo h1 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.socialWrap {
  display: flex;
  gap: 1rem;
}

.socialWrap a {
  border: 1px solid #000;
  border-radius: 50px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 50px;
  margin: 0 10px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: top;
  width: 50px;
  transition: 0.3s;
}

.socialWrap a:hover i > svg {
  color: rgb(119, 164, 100);
  fill: aqua;
  background: var(--secondary-color);
}

.socialWrap > a > i > svg {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

@media (max-width: 400px) {
  .descriptionPlataform {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 401px) and (max-width: 700px) {
  .descriptionPlataform {
    grid-template-columns: repeat(2, 1fr);
  }
}
