.boxText {
  width: 500px;
  max-width: 500px;
  min-width: 250px;
  height: 300px;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  overflow: auto;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.boxText p {
  margin: 0;
  padding: 0;
}

@media (max-width: 520px) {
  .boxText {
    width: 300px;
  }
}

@media (min-width: 840px) and (max-width: 1030px) {
  .boxText {
    width: 400px;
  }
}

