h1,
h2,
h3 {
  font-weight: 700;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

p,
label {
  font-size: 1.1rem;
  font-weight: 400;
  text-wrap: pretty;
  color: var(--text-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.IconSize {
  width: 3rem;
  height: 3rem;
}

.textCenter {
  text-align: center;
}

.features-grid {
  display: grid;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .features-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .features-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (min-width: 100px) and (max-width: 1200px) {
  .appContainer {
    padding: 0 1rem;
  }
}
