.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
}

i,svg {
  width: 7rem;
  height: 7rem;
}